.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

/* Name */
.cb__name input {
  background: transparent;
  border: none;
  width: 100px;
  text-overflow: ellipsis;
  margin-left: 10px;
  font-size: 1rem;
  font-weight: bold;
  padding-left: 10px;
}
.cb__name input:focus {
  background: white;
}

/* Colors */
.cb__colors {
  background: black;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
}
.cb__colors input {
  display: none;
}
/* color block */
.cb__colors span {
  content: '';
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 5px 15px;
  cursor: pointer;
  transition: 0.3s;
}
.cb__colors span:hover {
  transform: rotate(45deg);
}

/* Position */
.cb__position {
  padding: 10px 0;
  min-width: 100px;
  text-align: center;
}
